:root {
  --text: #f4f9e9;
  --text-h: #a9e4ef;
  --bg: #235789;
  --border: #af929d;
  --accent: #4a1942;


  --color-bialy: #ffffff;
  --color-szary: #ababab;
  --color-ciemny-szary: #424242;


}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
}


.container-glowny {
  display: flex;
  flex-direction: column;
  gap: 20px;               /* Zamiast space-around - daje stały odstęp */
  align-items: stretch; 
}

.content {
  display: flex;
  width: 100%;
  flex-direction: row; /*lewo prawo*/
  justify-content: space-around; /* Rozsuwa je równomiernie */
  align-items: flex-start; /* Wyrównuje je do góry */
}

.contener-lewy {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  background-color: var(--border);
  color:#235789;
  align-items: center;
  border-radius: 10px;
}

.status-bar
{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding:10px;
}

  .obecny-czas {
  flex: 1;
  text-align: left;
  }

  .obecny-wierzcholek {
  flex: 1;
  text-align: left;
  }

.graph-container {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.aktualny-stos {
text-align: left;
}

.contener-prawy {
  flex: 1;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  gap:10px;
}

.przyciski {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap:5px;

}

.przyciski button {
 flex: 1;
  padding: 5px;
  cursor: pointer;

}

.tabela {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nastepny-krok {
  width: 100%;
  display: flex;
}

.nastepny-krok button {
  width: 100%;
  padding: 12px;
  background-color: var(--accent);
  color: var(--text);
  border: none;
  border-radius: 5px;
  font-weight: bold;
}